.is-medal-conquer {
  background-image: url("http://cdn.classup.space/assets/medals/pluto-conquer.png")
}

.is-medal-start {
  background-image: url("http://cdn.classup.space/assets/medals/pluto-celebrating-start.png")
}

.is-medal-launch {
  background-image: url("http://cdn.classup.space/assets/medals/pluto-rocket-launch.png")
}

.is-medal-sailing {
  background-image: url("http://cdn.classup.space/assets/medals/pluto-rocket-sailing.png")
}

.is-medal-stairs {
  background-image: url("http://cdn.classup.space/assets/medals/pluto-stairs-put-stars.png")
}

.is-medal-suite {
  background-image: url("http://cdn.classup.space/assets/medals/pluto-suit-ready.png")
}

.is-medal-talking {
  background-image: url("http://cdn.classup.space/assets/medals/pluto-talking.png")
}

.is-medal-walking {
  background-image: url("http://cdn.classup.space/assets/medals/pluto-walking.png")
}
