
@charset "utf-8";

.is-title {
  font-family: 'Comfortaa', cursive;
}

.is-body {
  font-family: 'Open Sans', sans-serif;
}

$pink: #fe3888;
$white: #fcfcfc;
$radius: 15px;

$primary: $pink;
$light: $white;
$radius-rounded: $radius;

@import "./node_modules/bulma/bulma.sass";
