$pink: #fe3888;
$white: #fcfcfc;
$radius: 12px;

$primary: $pink;
$light: $white;
$radius-rounded: $radius;
$link: $pink;
$link-focus-border: $pink;

@charset "utf-8";
@import "./sass/hexagonal.scss";
@import "./sass/avatar.scss";
@import "./sass/medals.scss";
@import "./sass/exagonal-avatr.scss";
@import "./sass/image.scss";
@import "./sass/question.scss";
@import "./sass/button.scss" ;
@import "./sass/margin.scss";
@import "./sass/float-action-button.scss";
@import "./sass/group.scss";
@import "./sass/task-card.scss";

* {
  font-family: 'Open Sans', sans-serif;
}
.is-title {
  font-family: 'Comfortaa', cursive;
}

.is-body {
  font-family: 'Open Sans', sans-serif;
}

.has-hover {
  &:hover{
    box-shadow: 0 5px 15px 3px #cacaca;
  }
}

@import "./node_modules/bulma/bulma.sass";
