
@charset "utf-8";

.is-title {
  font-family: 'Comfortaa', cursive;
}

.is-body {
  font-family: 'Open Sans', sans-serif;
}

.image{
  box-sizing: content-box;
  width: 75%;
  align-self: center;
}

.form-container{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

$pink: #fe3888;
$white: #fcfcfc;
$radius: 12px;

$primary: $pink;
$light: $white;
$radius-rounded: $radius;
$link: $pink;
$link-focus-border: $pink;

@import "./node_modules/bulma/bulma.sass";
